/* Terminal-like Styles */
body.terminal-mode {
    background-color: #000;
    color: #0f0;
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#terminal {
    width: 80%;
    max-width: 800px;
    background-color: #111;
    border: 0.1px solid #0f0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 1px #0f0;
}

#output {
    height: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-bottom: 1rem;
}

#input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #000;
    color: #0f0;
    font-size: 1rem;
    padding: 0.5rem;
    font-family: inherit;
}
